<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', { title: 'Start Conversation' }); %>
<body>
  <%- include('../partials/header', { currentUser }); %>
  
  <h1>Start a Conversation</h1>

  <div>

  </div>
    <form action="/conversations" method="POST">
      <textarea name="message" id="" cols="30" rows="3"></textarea>

      <input type="hidden" name="sender" value="<%= currentUser._id %>">

      <input type="hidden" name="item" value="<%= item._id %>">

      <input type="hidden" name="receiver" value="<%= item.seller %>">

      <button type="submit">Send</button>
    </form>
</body>
</html>