<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', { title: 'Send a Message' }); %>
<body>
  <%- include('../partials/header', { currentUser }); %>
  
  <h1>Message</h1>

  <div>
    <p>Send to: <%= recipient.username %></p>

    <p>Item: <%= conversation.item.itemName %></p>

    <p><img class="convo-itemImage" src="<%= conversation.item.img %>" alt=""></p>

    <ul class="messages">
      <% conversation.messages.forEach((message) => { %>

        <% if (currentUser._id == message.sender._id) { %>
          <li class="message_currentUser"><%= message.body %></li>

        <% } else { %>
          <li class="message_recipient"><%= message.body %></li>
          
        <% } %>

      <% }) %>
    </ul>
  </div>
    <form action="/messages" method="POST">
      <textarea name="message" id="" cols="30" rows="3"></textarea>
      
      <input type="hidden" name="conversationid" value=<%= conversation._id %>>

      <input type="hidden" name="senderid" value=<%= currentUser._id %>>

      <button type="submit">Send</button>
    </form>
</body>
</html>