<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head', { title: 'View Item'}); %>
<body>
  <h1>View Item</h1>

  <% if (item.img) { %>
    <img src="<%= item.img %>" alt="<%= item.itemName %>">
  <% } %>

  <p><%= item.itemName %></p>

  <p>$<%= item.price %></p>

  <p>Posted: <%= item.createdAt %></p>
  <p>Updated: <%= item.updatedAt %></p>

  <p>Seller: <%= item.seller.username %></p>
  <p>Contact: <%= item.seller.email %></p>

  <h4>Description</h4>
  <p><%= item.description %></p>
</body>
</html>